
.tags{
	padding: 10px;
	background-color: white;
	border: 1px solid #DDD;
	margin-top: 2px;
}
.headpage{
	text-align: center;
	font-family:"Comic Sans MS", cursive;
	background-color: red;
}
.sizehome{
	margin-top: 0;
	padding-left: 20px;
	padding-right: 20px;
}